@model GiftViewModel

<section class="flex flex-col">
    <div class="pr-4 my-2">
        <label asp-for="Title"></label>
        <input type="text" asp-for="Title" />
        <span class="text-red-600" asp-validation-for="Title"></span>
    </div>
    <div class="pr-4 my-2">
        <label asp-for="Description"></label>
        <input type="text" asp-for="Description" />
        <span class="text-red-600" asp-validation-for="Description"></span>
    </div>
</section>
<section class="flex flex-col sm:flex-row">
    <div class="pr-4 my-2">
        <label asp-for="Url"></label>
        <input type="text" asp-for="Url" />
        <span class="text-red-600" asp-validation-for="Url"></span>
    </div>
    <div class="pr-4 my-2">
        <label asp-for="Priority"></label>
        <input type="text" asp-for="Priority" />
        <span class="text-red-600" asp-validation-for="Priority"></span>
    </div>
</section>
<div>
    <label asp-for="UserId"></label>
    <select asp-for="UserId" asp-items="@(new SelectList(MockData.Users, "Id", "FullName"))">
        <option>Please select one</option>
    </select>
</div>