@model GiftViewModel

@{
    ViewBag.Title = "Gifts Create";
}

<form asp-controller="Gifts" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button>Create</button>
    <form asp-controller="Gifts" asp-action="Index" method="get">
        <button>Create</button>
    </form>
</form>
