@model GiftViewModel

@{
    ViewBag.Title = "Gifts Edit";
}

<form asp-controller="Gifts" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")
    <button>Update</button>
    <form asp-controller="Gifts" asp-action="Index" method="get">
        <button>Create</button>
    </form>
</form>