<!DOCTYPE HTML>
<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <title>@ViewBag.Title</title>


</head>
<body>
  <div style="text-align: horizontal">
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Users" asp-action="Index">Users</a>
    <a asp-controller="Groups" asp-action="Index">Groups</a>
    <a asp-controller="Gifts" asp-action="Index">Gifts</a>
  </div>

  @RenderBody()

</body>
</html>