@model UserViewModel

@{
    ViewBag.Title = "Users Create";
}

<form asp-controller="Users" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button>Create</button>
    <form asp-controller="Users" asp-action="Index" method="get">
        <button>Cancel</button>
    </form>
</form>