@model UserViewModel

@{
    ViewBag.Title = "Users Edit";
}
<section>
    <form asp-controller="Users" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        @await Html.PartialAsync("_CreateOrEdit")
        <button>Update</button>
        <form asp-controller="Users" asp-action="Index" method="get">
            <button>Cancel</button>
        </form>
    </form>
</section>